<h1>Entries index</h1>
<% @list_entries.each do |entry| %>
  <%= entry.id %>
  <%= entry.comment %>
  <%# <%= link_to "Delete entry", list_list_entry_path(entry), method: :delete   %> %>
<% end %>
<%= link_to "new entry", new_list_list_entry_path, method: :get %>